.container {
  display: flex;
  min-height: 100vh;
  height: auto;
  background-color: var(--color-site-bg);
}

.sidebar {
  width: 13%;
  background-color: var(--color-bg);
  padding: 10px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.sidebar a {
  color: var(--color-text);
  text-decoration: none;
}

.main {
  width: 80%;
  padding: 10px;
  background-color: var(--color-site-bg);
  min-height: 100vh;
  height: auto;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
